.App {
  /* height: 100vh; */
}

.Layout {
  min-height: 100vh;
}

.Logo {
  width: 160px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 42px;
  fill: green;
  path,
  polyline,
  circle {
    stroke: transparent;
  }
  path {
    fill: white;
  }
  polyline,
  circle {
    fill: green;
  }
  :global {
    .anticon {
      margin-right: 0;
    }
  }
}

.Search {
  // margin-left: 16px;
  // margin-right: 16px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
}

.Cart {
  margin-right: 16px;
}

.Footer {
  color: white;
  background-color: #001628;
}
